<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @shoe.store.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @shoe.inventory %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
